.form {
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    color: $primery-text-color;
    letter-spacing: 0.03rem;

    &__title {
        margin-bottom: 12px;
        color: #212121;
        font-size: 20px;
        font-weight: 700;
        line-height: 23px;
        text-align: center;
    }

    &__field {
        display: flex;
        flex-direction: column;
        text-align: left;
        font-size: 12px;
        position: relative;
        &:not(:last-child) {
            margin-bottom: 10px;
        }
        
    }
    &__input {
        margin: 0;
        padding: 11px 42px;
        height: 40px;
        border-radius: 4px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        outline: none;
        &:focus {
            border-color: $accent-color;
        }
    }

    &__comment {
        margin: 0;
        height: 120px;
        padding: 12px 16px;
        border-radius: 4px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        outline: none;
        &:focus {
            border-color: $accent-color;
        }
        &::placeholder {
            color: rgba(117, 117, 117, 0.5);
        }
    }

    &__icon {
        position: absolute;
        left: 12px;
        top: 50%;
        .form__input:focus~& {
            fill: $accent-color;
        }
    }

    &__policy {
        margin-top: 20px;
    }

    &__label {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    &__checkbox {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        position: absolute;
    }

    &__link {
        margin-left: 3px;
        color: $accent-color;
        text-decoration: underline;
    }
    
    &__icon--checkbox {
        margin-right: 8px;
        height: 15px;
        width: 16px;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.9' y='0.9' width='14.2' height='13.2' rx='1.1' stroke='%23212121' stroke-width='1.8'/%3E%3C/svg%3E%0A");
        .form__checkbox:checked + & {
            background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='15' rx='2' fill='%232196F3'/%3E%3Cpath d='M3.95703 7.75166L3.88825 7.68604L3.81923 7.75141L2.93123 8.59258L2.85486 8.66492L2.93097 8.73753L6.42671 12.0724L6.49574 12.1382L6.56476 12.0724L14.069 4.91352L14.1449 4.84116L14.069 4.76881L13.1873 3.92764L13.1183 3.86183L13.0493 3.92761L6.49577 10.1735L3.95703 7.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
        }
    }
    
    &__btn {
        margin-top: 30px;
        padding: 10px 55px;
      
        background-color: $accent-color;
        color: $primery-white-color;
        font-family: inherit;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.88;
        letter-spacing: 0.06em;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        cursor: pointer;
        border: none;
        border-radius: 4px;
    }
}