.page {
    padding-top: 94px;
    padding-bottom: 94px;
    
    &__filters {
        display: flex;
        
        margin-bottom: 50px;
        gap: 8px;
        flex-wrap: wrap;
        
        @media screen and (min-width: 768px) {
            justify-content: center;
        
        }
    }

    &__filter {
        margin-right: 8px;
    }

    &__btn {
        padding: 6px 22px;

        background-color: $third-bg-color;
        color: $primery-title-color;
        cursor: pointer;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.63;
        letter-spacing: 0.03em;
        text-align: center;
        border-radius: 4px;
        border-color: transparent;
        transition: $animation;
        &:hover, &:focus {
            background-color: $accent-color;
            color: $primery-white-color;
            box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
              0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
        }
    }
    &__cards {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        flex-direction: row;
        
        @media screen and (min-width: 768px) {
            justify-content: flex-start;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    
    }
    &__item {
        margin-bottom: 30px;

        @media screen and (min-width: 768px) {
            width: 354px;
            height: 440px;
            
        }
    
        @media screen and (min-width: 1200px) {
            width: 370px;
        }
    }
    &__link {
        
        position: relative;
        display: block;
        transition: $animation;
        &:hover, &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
        }
    }
    &__cart {
        padding: 20px 24px;
        border-left: 1px solid #eeeeee;
        border-bottom: 1px solid #eeeeee;
        border-right: 1px solid #eeeeee;
        @media screen and (min-width: 768px) and (max-width: 1199px)   {
            height: 150px;
        }
    }
    &__subtitle {
        color: $primery-title-color;
        font-size: 18px;
        font-weight: 700;
        line-height: 2;
        letter-spacing: 0.06em;
    }
    &__text {
        color: $primery-text-color;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.89;
    }
}
.overlay {
    position: relative;
    overflow: hidden;
    &__box {
        background-color:rgba(33, 150, 243, 0.9);
        top: 0;
        left: 0;
        position: absolute;
        padding: 63px 24px;
        opacity: 0;
        transform: translateY(100%);
        transition: $animation;
        .page__link:hover &,
        .page__link:focus & {
            opacity: 1;
            transform: translateY(0);
        }
    }
    &__text {
        font-size: 18px;
        line-height: 1.55;
        color: $primery-white-color;
    }
}
